.navbar {
    display: flex;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: transparent;
    justify-content: space-between;
    padding: 12px 8%;
    align-items: center;
}


.navbar.fixed {
    background-color: #0c0f16;
    position: fixed;
    transition: 0.6s;
    border-bottom: 1px dotted #75dab35a;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.navbar ul a {
    text-decoration: none;
    font-weight: 550;
    font-size: small;
}

.navbar ul .active {
    color: #75dab4;
}

.navbar ul a:hover {
    color: #75dab4;
}

.button {
    width: 150px;
    height: 30px;
    background-color: #75dab4;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    position: relative;
    overflow: hidden;
}

.button span {
    position: absolute;
    background-color: #0c0f162f;
    width: 100%;
    height: 100%;
    top: -100%;
    transition: 0.3s linear;
}

.button img {
    position: absolute;
    height: 24px;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s linear;
}

.button:hover img {
    top: 0;
}

.button:hover span {
    top: 0;
}

.button p {
    position: absolute;
    width: 100%;
    top: 4px;
    left: 26px;
    color: #0c0f16;
    transition: 0.3s linear;
}

.button:hover p {
    top: 100%;
}

nav {
    display: none;
}

#hide {
    display: none;
}

@media screen and (max-width: 1024px) {
    .navbar {
        display: flex;
    }
    
    .navbar ul {
        display: none;
    }
    
    .navbar ul a {
        text-decoration: none;
        font-weight: 550;
        font-size: small;
    }
    
    .navbar ul a:hover {
        color: #75dab4;
    }
    
    .button {
        background-color: #75dab4;
        color: #0c0f16;
        padding: 6px 12px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }

    #hide {
        display: block;
    }

    nav {
        display: flex;
        flex-direction: column;
        width: 40px;
        height: 20px;
        justify-content: space-between;
        align-items: flex-end;
        cursor: pointer;
    }

    nav .span1 {
        height: 1.5px;
        width: 100%;
        background-color: #75dab4;
        transition: 0.2s linear;
    }

    nav .span2 {
        height: 1.5px;
        width: 80%;
        background-color: #75dab4;
        transition: 0.2s linear;
    }

    .hmbOn .span1 {
        rotate: -45deg;
        transform: translatey(13px);
        width: 80%;
        transition: 0.2s linear;
    }

    .hmbOn .span2 {
        rotate: 45deg;
        transform: translatey(-12px);
        width: 80%;
        transition: 0.2s linear;
    }

    .menuOff {
        position: fixed;
        z-index: 50;
        top: -100%;
        left: 0;
        width: 100vw;
        height: 30vh;
        transition: 0.4s linear;
    }

    .menuOn {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #322417f6;
        transition: all 0.5s linear;
    }

    .menuOn ul {
        position: absolute;
        z-index: 50;
        top: 10vh;
        transform: translate(-50% -50%);
        width: 100vw;
        height: 40vh;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .menuOn ul li { 
        padding: 2px 24px;
        border: 1px dotted #75dab3a4;
        width: 150px;
        text-align: center;
    }

    .menuOn ul li:hover {
        border: 1px solid #75dab4;
    }

    .menuOn ul li a {
        text-decoration: none;
        font-size: 16px;
    }

    .menuOn ul li:hover a {
        color: #75dab4;
    }
}