.overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  color: #0c0f16;
  opacity: 0.6;
  z-index: 1;
}

.welcome {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-image: url('../images/backgroundPic.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center !important;
  z-index: 0;
}

main {
  position: absolute;
  top: 20vw;
  padding-right: 8%;
  left: 8%;
  display: flex;
  flex-direction: column;
  gap: 2vw;
  z-index: 2;
}

main h6 {
  color: #75dab4;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 5px;
}

main h1 {
  font-size: 80px;
  font-weight: 700;
  font-family: 'Cormorant Garamond', serif;
  margin-bottom: 2px;
}

main p {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 25px;

}

.social {
  display: flex;
  list-style: none;
}

.social li {
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.05);
  margin-right: 5px;
  position: relative;
  transition: 0.3s;
}

.social li:hover {
  transform: scale(1.3);
}

.social li img {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1040px) {
  main {
    position: absolute;
    top: 30vw;
    left: 8%;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    z-index: 2;
  }
}

@media screen and (max-width: 760px) {
  main {
    position: absolute;
    top: 50vw;
    left: 8%;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    z-index: 2;
  }

  main h6 {
    font-size: 14px;
  }
  
  main h1 {
    font-size: 60px;
    margin-bottom: 6px;
  }

  main p {
    font-size: 18px;
  
  }
}