* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0c0f16;
  overflow-x: hidden;
}
